<!DOCTYPE html>
<html lang="en">
<head>
    <!--  要求当前页面使用IE浏览器最高版本的内核来渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta charset="UTF-8">
    <title>user_goods</title>
    <link rel="stylesheet" href="/css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>序号</th>
        <th>用户id</th>
        <th>商品id</th>
        <th>购买数量</th>
    </tr>
    </thead>
    <tbody>
    {% for u in u_g %}
        <tr>
        <td>{{ loop.index }}</td>
        <td>{{ u.user_id }}</td>
        <td>{{ u.goods_id }}</td>
        <td>{{ u.number }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>